/* Head section */
*{
    padding: 0px;
    margin: 0px;
}
.A{
    margin-left: 120px;
    padding: 140px;

}
.bold{
    font-size: 60px;
    font-weight: 1800px;
    width: 508px;
    height: 200px;
    color: #272727;
    line-height: normal;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 100px;
}

.para{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 100px;


}

.btn{
    color: #FFF;
    border-radius: 5px;
    background-color: #E55473;
    height: 45px;
    width: 120px;
    border: none;
    margin-left: 100px;

}

.cover-img{
    width: 680px;
    height: 850px;
    padding-right: 100px;
}

.initial{
    width: 100%;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


/* main section */

.main{
    margin-top: 180px;
    text-align: center;
}
.main-bold{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.main-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.main-photo{
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-around;
}
.pic{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
flex-shrink: 0;
align-items: center;
}

#pic1{
    background-color: rgba(167, 33, 98, 0.15);
    align-items: center;
    
}

#pic2{
    background-color: rgba(5, 151, 160, 0.15) ;
}

#pic3{
    background-color: rgba(71, 125, 17, 0.15);
}

.flower1 {
 margin-left: 50px;
 margin-top: 110px;
align-items: center;
}

.flower2 {
    margin-left: 50px;
    margin-top: 120px;
   align-items: center;
   }

.flower3 {
    margin-left: 60px;
    margin-top: 67px;
   align-items: center;
   }
      
.name{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}